<div class="sidebar sticky page__sidebar" id="minimap">
  <h2>Carte</h2>
  <canvas id="map-canvas" width="150" height="150"></canvas>
   <div id="map-legend" style="margin-top: 10px; text-align: left; display: inline-block;">
    <h4>Légende</h4>
    <div style="display: flex; align-items: center; margin: 2px 0;">
      <div style="width:15px; height:15px; background: grey; margin-right:5px; border:1px solid #000;"></div>
      Ville
    </div>
    <div style="display: flex; align-items: center; margin: 2px 0;">
      <div style="width:15px; height:15px; background: green; margin-right:5px; border:1px solid #000;"></div>
      Forêt
    </div>
    <div style="display: flex; align-items: center; margin: 2px 0;">
      <div style="width:15px; height:15px; background: blue; margin-right:5px; border:1px solid #000;"></div>
      Eau / Rivière
    </div>
    <div style="display: flex; align-items: center; margin: 2px 0;">
      <div style="width:15px; height:15px; background: #a0d080; margin-right:5px; border:1px solid #000;"></div>
      Plaine
    </div>
    <div style="display: flex; align-items: center; margin: 2px 0;">
      <div style="width:15px; height:15px; background: #888; margin-right:5px; border:1px solid #000;"></div>
      Montagne
    </div>
    <div style="display: flex; align-items: center; margin: 2px 0;">
      <div style="width:15px; height:15px; background: #edc9af; margin-right:5px; border:1px solid #000;"></div>
      Désert
    </div>
    <div style="display: flex; align-items: center; margin: 2px 0;">
      <div style="width:15px; height:15px; background: #b5651d; margin-right:5px; border:1px solid #000;"></div>
      Route
    </div>
    <div style="display: flex; align-items: center; margin: 2px 0;">
      <div style="width:15px; height:15px; background: yellow; margin-right:5px; border:1px solid #000;"></div>
      Position actuelle
    </div>
  </div>
</div>
